@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

body {
  font: caption;
  background-color: rgba(81, 185, 230, 0.5);
  user-select: none;
}

.container {
  margin: auto;
  margin-top: 3rem;
  height: 100%;
  width: 95vw;
  text-align: center;
  display: flex;
  justify-content: center;
  background-image: url('../TetraPak-Logo.svg');
  background-size: 55%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.svg-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 1rem 3rem 3rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.95);
}

.svg-container__left {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.svg-container__right {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

#svg-pump,
#svg-valve {
  width: 80%;
}

.num-field {
  border: 2px solid blue;
  border-radius: 10px;
}

button {
  background: dodgerblue;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  outline: none;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  background: rgba(16, 16, 233);
  transform: translatey(-3px);
}

button:active {
  transform: translatey(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.port:hover {
  cursor: pointer;
}

#pump-buttons,
#valve-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
  color: #0000ff;
  font-size: 20px;
  margin-bottom: 20px;
}

#num-field-one,
#num-field-two {
  font-size: 40px;
}
.svg-view {
  width: auto;
}

.pump {
  stroke: black;
  stroke-width: 4px;
  fill: transparent;
}
