@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

body {
  font: caption;
  background-color: white;
  user-select: none;
}

.container {
  margin: auto;
  width: 90vw;
  justify-content: center;
  text-align: center;
}

.active{
  
}

#svg-container {
  display: flex;
  flex-direction: row;
}

.svg-container__left {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
}
.svg-container__right {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  width: 100%;
}

#svg-pump,
#svg-valve {
  width: 80%;
}

button {
  background: dodgerblue;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  outline: none;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  background: blue;
  transform: translatey(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translatey(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.port:hover {
  cursor: pointer;
}

select {
  margin: 0 0 10px 0;
  padding: 10px 20px 10px 10px;
  font-size: 16px;
  border: 1px solid #dedede;
}

#pump-buttons,
#valve-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header {
  width: 100%;
  text-align: center;
  background-color: rgb(0, 37, 204);
  padding-bottom: 5px;
  color: #dedede;
  font-size: 20px;
  margin-bottom: 20px;
}

#num-field-one,
#num-field-two {
  font-size: 40px;
}
.svg-view {
  width: auto;
}

.pump {
  stroke: black;
  stroke-width: 4px;
  fill: transparent;
}

/* .svg-mobile {
  width: 90%;
  margin-bottom: 20px;
}

.svg-mobile-none {
  display: none;
} */

/* @media (max-width: 600px) {
  * {
    overflow-x: hidden;
    min-width: 400px;
  }
  body {
    height: 100vh;
  }

  button {
    margin-bottom: 10px;
  }

  .svg-container-mobile {
    display: flex;
    flex-direction: column;
  }
} */
